<form class="login-form" (ngSubmit)="onLogin()">
  <h2>Đăng Nhập</h2>

  <div class="form-group">
    <label for="usernameOrEmail">Tên đăng nhập hoặc Email:</label>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail" required [(ngModel)]="loginData.usernameOrEmail">
  </div>

  <div class="form-group">
    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="password" required [(ngModel)]="loginData.password">
  </div>

  <button type="submit" class="submit-button">Đăng Nhập</button>

  <div class="error-message" *ngIf="loginError">{{ loginErrorMessage }}</div>
</form>